body{      
    background-color: rgb(39, 37, 37);   
    color:white;
}

textarea{
    display: block;
    width: 100%;
    background-color: transparent;
    color: rgb(33, 43, 45);
    font-size: 20px;
    border: 0.2rem solid #3f7ea8;
    border-radius: 0.3rem;    
    margin-top:2rem;   
    padding: 0.5rem;
    font-family: "Lucida Console", "Courier New", monospace;
}

.container{
    background-color: rgb(230, 219, 219);
    width: 25rem;
    padding: 3rem 1rem;  
    margin-top: 4rem;
    border-radius: 0.3rem;
}

h1{
    text-align: center;   
}

h4{
    text-align: center;
    color:rgb(150, 69, 69);
    margin-bottom: 2rem;
}

button{
  background-color: #3f7ea8;
  color: #fff;
  font-size: 20px;
  height: 3rem;
  border: none;
  border-radius: 0.3rem;
  width: 10.5rem;
  cursor: pointer;  
  padding: 0.5rem;
}

input{
width:10.5rem;
border: 0.2rem solid #3f7ea8;
border-radius: 0.3rem;
background-color: transparent;
color: black;
padding: 0.5rem;
height: 3rem;
font-size: 20px;
margin-right: 1rem;
}




